@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Merriweather&family=Outfit:wght@400;700&family=Roboto:wght@300&display=swap');

body{
    padding:5% 40%;
    font-size: 2rem;
    font-family:'Roboto',sans-serif;
}
